body { font-family: 'Inter', sans-serif; background-color: #f3f4f6; color: #1f2937; }
.container { max-width: 800px; margin: 2rem auto; padding: 2rem; background-color: #ffffff; border-radius: 1.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);}
h2 { border-bottom: 2px solid #e5e7eb; padding-bottom: 0.5rem; margin-bottom: 1.5rem; color: #1f2937;}
label { font-weight: 500; color: #4b5563;}
input[type="text"], input[type="date"], input[type="number"], input[type="email"], textarea, select {
    width: 100%; padding: 0.75rem; border-radius: 0.75rem; border: 1px solid #d1d5db; background-color: #f9fafb; transition: all 0.2s ease-in-out;
}
input[type="text"]:focus, input[type="date"]:focus, input[type="number"]:focus, input[type="email"]:focus, textarea:focus, select:focus {
    outline: none; border-color: #2563eb; box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}
textarea {
    resize: none;
    overflow-y: hidden; /* Oculta la barra de scroll hasta que sea necesario */
}
.button { padding: 0.75rem 1.5rem; border-radius: 0.75rem; font-weight: 600; transition: background-color 0.2s; cursor: pointer; border: none;}
.button-primary { background-color: #1d4ed8; color: #ffffff;} /* blue-700 */
.button-primary:hover { background-color: #1e40af;} /* blue-800 */
.button-secondary { background-color: #6b7280; color: white;}
.button-secondary:hover { background-color: #4b5563;}
.button-danger { background-color: #dc2626; color: white;}
.button-danger:hover { background-color: #b91c1c;}
.rotate-90 { transform: rotate(90deg);}
select.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
}
.transition-transform { transition: transform 0.2s;}
/* Notificación flotante */
#floatingNotification {
    position: fixed;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    min-width: 220px;
    display: none;
}
